<?xml version="1.0"?>
<ruleset name="Lib">
    <description>Kleinweb Standard Library Coding Standards</description>

    <file>./.php-cs-fixer.dist.php</file>

    <file>./src</file>

    <rule ref="Kleinweb">
        <!-- TODO: Configure overrides -->
    </rule>
</ruleset>
