# -*- mode: neon; -*-

includes:
    - phpstan-baseline.neon

    # <https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon>
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - src/
    scanDirectories:
        - wp-content/plugins/simple-history/
    tmpDir: .cache/phpstan/
